* {
  box-sizing: border-box;
}

h1 {
	text-align: center;
}

.chicken {
	text-align: right;
	border: 1px solid black
	color: #000000;
	background-color: #b56d6d;
}

.beef {
	text-align: right;
	border: 1px solid black;
	color: #ffffff;
	background-color: #ab1f1f;
}

.sushi {
	text-align:right;
	border: 1px solid black;
	color: #000000;
	background-color: #d9d386;
}

section {
 	background-color: #00FFFF;
  	position: relative;
  	top: 60px

p {
	border: 1px solid black;
	background-color: #878787;
}